body {
    font-size:16px;
    font-family: 'Oxygen', sans-serif;
    background-color:lightblue;
}


#header-nav {
    border:0;
    border-radius:0;
    background-color:white;

}


#logo-img {
    background: url('../img/logoImgLar.jpeg') no-repeat;
    width:180px;
    height:180px;
    margin: 15px 15px 15px 0;
}



.navbar-brand a:link {
    text-decoration:none;

}

.navbar-brand a h1 {
    font-weight:bold;
    font-size:70px;
    
}

.navbar-header {
    margin-bottom:40px;
}

.navbar-brand a:hover {
    text-shadow:20px 15px 20px rgb(22, 193, 209);  
}

.navbar-brand p {
    font-weight:bold;
    text-align:center;
    font-size:2.0em;
}

.navbar-brand {
    margin-top:-10px;
}

.navbar-brand p span{
   font-size:0.7em;
   font-family: 'Pacifico', cursive;

}

#nav-list li a {
    font-weight:bold;
    color:lightblue;
    text-align:center;
    margin:5px 20px;

}

#nav-list li a:hover {
  font-size:1.5em;
  color:black;
  text-transform:bold;

}


.navbar-header button.navbar-toggle, .navbar-header button.icon-bar {
    border:2px solid lightblue;
}

/*.container .jumbotron { 
    padding:0;
  
}*/

.container section {
    position:relative;
}

div .bkImg {
    background:url('../img/images/ResidentialLaundry/IMG_7250.JPG');
    width: 100%;
    height:1000px;
    margin-bottom:30px;
    opacity:0.25;
    
}

button {
    background-color:rgb(13, 96, 111);
    border-radius:55%;
    color:white;
    padding:20px;
}

#background {

}


.container #cup {
    position:relative;
}


.container #whatWeDo section {
    border:1px solid white;
    height:300px;
    position:relative;
     width:32%;
    margin-right:15px;
    overflow:hidden;
    margin-bottom:40px;
    padding:0;
}

section span {
    position:absolute;
    bottom:0px;
    left:0px;
    text-align:center;
    width:100%;
    font-size:22px;
    background-color:black;
    opacity:0.9;
    font-weight:bold;
    color:lightblue;

}



 #pickup  {
    top:700px;
    left:450px;
    color:rgb(22, 90, 115);
    font-size:50px;
    font-weight:bold; 
    position:absolute;
   text-align:center;
    font-style:italic; 
    
}

#pickup span a:hover  {
    color:green;
}

/*
#pickup:hover span {
    display:none;

}

#pickup:hover:before {
    content:"BOOK AN APPOINTMENT";
    top:-108px;
    left:20px;
    color:rgb(22, 90, 115);
    font-size:180px;
    font-weight:bold;
    position:relative;
   text-align:center;
    line-height: 400px; 
    font-style:italic;
    
}*/


 #todo {
    font-size: 62px;
    font-weight: bold;
    color:black;
    margin-bottom:50px;
    font-family: 'Pacifico', cursive;

} 

#todo img {
    width:110px;
    height:110px;
}


#whatWeDo #ntare {
    background:url('../img/images/ResidentialLaundry/obron_emre_can.jpg') center;
    height:300px;
}

#whatWeDo #perculum {
    background:url('../img/images/ResidentialLaundry/obron_emre_can.jpg') center;
    height:300px;
}


#whatWeDo #mpoboa {
    background:url('../img/images/sneakerCleaning/SNEAKERS_FREDDY_smallSize.png') center;
    height:300px;
}

#whatWeDo #ntomago {
    background:url("../img/images/carpetCleaning/obroni_rugs_small.png") center;
    height:300px;
}



 

 


/*LARGE DEVICES*/
@media (min-width:1200px) {
    #logo-img {
        background: url('../img/logoImgLar.jpeg') no-repeat;
        width:180px;
        height:180px;
        margin: 10px 10px;
    }

    .navbar-brand {
        margin-top:2px;
        margin-right:15px;
    }

}

/*MEDIUM DEVICES*/
@media (min-width:992PX) and (max-width:1199px) {
    #logo-img {
        background: url('../img/logoImgMed.jpeg') no-repeat;
        width:150px;
        height:150px;
        margin: 10px 10px;
    }

}
    /*SMALL DEVICES*/
    @media (min-width:768px) and (max-width:991px) {
        #logo-img {
            background: url('../img/logoImgSma.jpeg') no-repeat;
            width:100px;
            height:100px;
            margin: 5px 5px;
    }

    .navbar-brand a h1 {
           font-size:30px;
    }


}


   /*EXTRA SMALL DEVICES*/
   @media (max-width:767px) {

    .navbar-brand {
        height:30px;
        margin-top:-20px;
        
    }

    .navbar-brand p {
        margin-top:-8px;
        font-size:3vw;
    }

    .navbar-brand a h1 {
        font-size: 5vw;
    }
    
} 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        